[submodule "aspects/nvim/.config/nvim/pack/plugins/start/nvim-tree.lua"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
	branch = master
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/vim-projectionist"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
	branch = master
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/vim-fugitive"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/command-t"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/command-t
	url = git@github.com:wincent/command-t.git
	branch = main
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/tinted-nvim"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/tinted-nvim
	url = git@github.com:tinted-theming/tinted-nvim.git
	branch = main
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/nvim-treesitter"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "aspects/dotfiles/files/tinted-shell"]
	path = aspects/dotfiles/files/tinted-shell
	url = git@github.com:tinted-theming/tinted-shell.git
	branch = main
[submodule "aspects/tmux/files/.tmux/plugins/tinted-tmux"]
	path = aspects/tmux/files/.tmux/plugins/tinted-tmux
	url = git@github.com:tinted-theming/tinted-tmux.git
	branch = main
