[submodule "aspects/bash/base16-shell"]
	path = aspects/bash/base16-shell
	url = git@github.com:tinted-theming/base16-shell.git
[submodule "aspects/tmux/base16-tmux"]
	path = aspects/tmux/base16-tmux
	url = git@github.com:tinted-theming/base16-tmux.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/nvim-tree.lua"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/vim-projectionist"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/ctrlp.vim"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "aspects/nvim/.config/nvim/colors/base16-nvim"]
	path = aspects/nvim/.config/nvim/colors/base16-nvim
	url = git@github.com:wincent/base16-nvim.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/vim-fugitive"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "aspects/nvim/.config/nvim/pack/plugins/start/command-t"]
	path = aspects/nvim/.config/nvim/pack/plugins/start/command-t
	url = git@github.com:wincent/command-t.git
