#!/usr/bin/env bash
# Environment variables

# vim default editor
export EDITOR=/opt/homebrew/bin/nvim

# Larger bash history (allow 32^3 entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US Engilsh and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Don't clear the screen after quitting a manual page
export MANPAGE="less -x";

# Git Duet
export GIT_DUET_CO_AUTHORED_BY=1
export GIT_DUET_GLOBAL=true

# Stuff for go
export GOPATH=/usr/local/go/bin

# Silence the zsh warning on os x
export BASH_SILENCE_DEPRECATION_WARNING=1

# I think Husky is annnoying!
export HUSKY=0
#
# Ripgrep
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"
