#!/usr/bin/env bash

# Copied from https://github.com/wincent/wincent/blob/f7c51dfd808ea78ec10d6501eaa28f0a5b4796e9/roles/dotfiles/files/.zsh/functions
function tmux() {
	# If provided with args, pass them through
	if [[ -n "$@" ]]; then
		command tmux "$@"
		return
	fi

	# Run a .tmux file, if we see one
	# TODO: Probably make this more secure
	if [ -x .tmux ]; then 
		./.tmux
		return
	fi

	# By default, attach to an existing session or create one, named on the current directory
	SESSION_NAME=$(basename "$(pwd)")
	tmux new -A -s "$SESSION_NAME"
}

